<div class="bg-teal-50 flex-1 flex h-100">
  <aside class="w-64 bg-teal-500 text-white flex flex-col">
    <div class="p-4">
      <img
        src="../../../assets/whisker-wars-logo.png"
        alt="Whisker Wars Logo"
        class="h-32 w-32 mb-4 mx-auto"
      />
    </div>
    <nav class="flex-grow">
      <ul>
        <li>
          <a
            routerLink="/dashboard"
            class="flex items-center px-4 py-3 hover:bg-teal-400 transition"
          >
            <span class="material-icons-outlined mr-3">dashboard</span>
            Dashboard
          </a>
        </li>
        <li>
          <a
            routerLink="/dashboard/leagues"
            class="flex items-center px-4 py-3 hover:bg-teal-400 transition"
          >
            <span class="material-icons mr-3">groups</span>
            Leagues
          </a>
        </li>
        <li>
          <a
            href="/profile"
            class="flex items-center px-4 py-3 hover:bg-teal-400 transition"
          >
            <span class="material-icons mr-3">person</span>
            Profile
          </a>
        </li>
        <li>
          <a
            href="/settings"
            class="flex items-center px-4 py-3 hover:bg-teal-400 transition"
          >
            <span class="material-icons mr-3">settings</span>
            Settings
          </a>
        </li>
      </ul>
    </nav>
    <div class="p-6">
      <button
        (click)="onLogout()"
        class="w-full bg-teal-400 hover:bg-teal-600 text-white py-2 px-4 rounded-lg font-medium shadow-md transition block"
      >
        Logout
      </button>
    </div>
  </aside>

  <router-outlet></router-outlet>
</div>
