<div class="container-sm">

    <h3 class="text-center mt-3">Episode 1: Unfair Game</h3>
    <hr>
    <app-survey-results-part></app-survey-results-part>
    <hr>
    <form class="d-flex flex-column gap-2">
        <div class="row justify-content-center align-items-center">
            <div class="col-1">1. </div>
            <div class="col-4">Who is the worst Survivor player ever?</div>
            <div class="col-4">
                <app-select-control [correct]="true" [editable]="false"></app-select-control>
                <span id="passwordHelpInline " class="form-text">
                    Correct Answer: <strong>Maria</strong>
                </span>
            </div>
            <div class="col-3">
                <div class="d-flex flex-sm-row flex-column justify-content-end align-items-center gap-sm-2">
                    <p class="fs-3 m-0">2</p>
                    <p class="fs-6 m-0"> points</p>
                </div>

            </div>
        </div>
        <hr>
        <div class="row justify-content-center align-items-center">
            <div class="col-1">2. </div>
            <div class="col-4">Who is the best Survivor player ever?</div>
            <div class="col-4">
                <app-select-control [correct]="false" [editable]="false"></app-select-control>
                <span id="passwordHelpInline" class="form-text">
                    Correct Answer: <strong>Maria</strong>
                </span>
            </div>
            <div class="col-3">
                <div class="d-flex flex-sm-row flex-column justify-content-end align-items-center gap-sm-2">
                    <p class="fs-3 m-0">100</p>
                    <p class="fs-6 m-0"> points</p>
                </div>

            </div>
        </div>

    </form>

</div>