<div class="container-sm mt-4" style="max-width: 450px;">
    <div class="row text-center">
        <h2>Create an account</h2>
        <p>Start your journey!</p>
    </div>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm" class="row gy-3">
        <div class="col-sm-6">
            <label for="firstName" class="form-label">First Name</label>
            <input id="firstName" type="text" placeholder="Enter your first name" class="form-control" ngModel
                #firstName="ngModel" name="firstName" required
                [ngClass]="{'is-invalid': !firstName.valid && firstName.touched, 'is-valid': firstName.valid && firstName.touched}">
            <div *ngIf="!firstName.valid && firstName.touched" class="help-block invalid-feedback">Please enter a
                valid first name.
            </div>
        </div>
        <div class="col-sm-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="lastName" type="text" placeholder="Enter your last name" class="form-control" ngModel
                #lastName="ngModel" id="lastName" name="lastName" required
                [ngClass]="{'is-invalid': !lastName.valid && lastName.touched, 'is-valid': lastName.valid && lastName.touched}">
            <div *ngIf="!lastName.valid && lastName.touched" class="help-block invalid-feedback">Please enter a
                valid password.</div>
        </div>
        <div>
            <label for="username" class="form-label">Username</label>
            <input id="username" type="text" placeholder="Enter your username" class="form-control" ngModel
                name="username" required username #username="ngModel"
                [ngClass]="{'is-invalid': !username.valid && username.touched, 'is-valid': username.valid && username.touched}">
            <div *ngIf="!username.valid && username.touched" class="help-block invalid-feedback">Please enter a valid
                username.
            </div>
        </div>
        <div>
            <label for="email" class="form-label">Email</label>
            <input id="email" type="text" placeholder="Enter your email" class="form-control" ngModel name="email"
                required email #email="ngModel"
                [ngClass]="{'is-invalid': !email.valid && email.touched, 'is-valid': email.valid && email.touched}">
            <div *ngIf="!email.valid && email.touched" class="help-block invalid-feedback">Please enter a valid email.
            </div>
        </div>
        <div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" placeholder="Password" class="form-control" ngModel #password="ngModel"
                    name="password" required
                    [ngClass]="{'is-invalid': !password.valid && password.touched, 'is-valid': password.valid && password.touched}">
                <div *ngIf="!password.valid && password.touched" class="help-block invalid-feedback">Please enter a
                    valid
                    password.</div>
            </div>
        </div>
        <div class="col-5">
            <input type="checkbox" id="rememberMe" class="form-check-input">
            <label for="rememberMe" class="form-check-label px-2">Remember me</label>
        </div>
        <div class="col-7 text-end">
            <a href="#" class="text-decoration-none">Forgot Password</a>
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit" [disabled]="!registerForm.valid">Sign up</button>
        </div>

        <div class="col-12">
            <button class="btn btn-outline-secondary w-100 disabled">Sign in with Google</button>
        </div>
    </form>

    <div class="row text-center mt-3">
        <p>Already have an account? <a routerLink="/login">Log in</a></p>
    </div>
</div>