<div class="bg-primary text-white text-center py-5" style="height: 200px;">
</div>
<div class="container">
    <div class="text-center my-3">
        <h2 class="m-0">Corner by the Bookshelf</h2>
    </div>
    <div>
        <app-league-notification-part (close)="onClose()" *ngIf="!notificationClosed"></app-league-notification-part>
    </div>
    <ul class="nav nav-tabs">
        <li class=" col-3 flex-fill text-center">
            <a class="nav-link rounded-0" aria-current="page" routerLink="scoreboard"
                routerLinkActive="active">Scores</a>
        </li>
        <li class=" col-3  text-center">
            <a class="nav-link rounded-0" routerLink="survey" routerLinkActive="active">Survey</a>
        </li>
        <li class=" col-3  text-center">
            <a class="nav-link rounded-0" routerLink="chat" routerLinkActive="active">Chat</a>
        </li>
        <li class="col-3  text-center">
            <a class="nav-link rounded-0 disabled" aria-disabled="true" routerLink="manage"
                routerLinkActive="active">Manage</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>