<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="mb-4">
    <label for="leagueName" class="block text-sm font-medium"
      >League Name</label
    >
    <input
      id="leagueName"
      name="leagueName"
      ngModel
      class="w-full p-2 border rounded"
      required
    />
    <div class="flex gap-4 mt-4">
      <app-dropdown class="flex-1" 
      [label]="showMenuItems.length ? showMenuItems[0].label : 'Select Show'" 
      [menuItems]="showMenuItems" 
      [(ngModel)]="selectedShow.value"
      (itemSelected)="onShowSelection($event)"
      name="show" id="show">
    </app-dropdown>
    
    <app-dropdown class="flex-1" 
      [label]="seasonMenuItems.length ? seasonMenuItems[0].label : 'Select Season'" 
      [menuItems]="seasonMenuItems" 
      [(ngModel)]="selectedSeason.value"
      (itemSelected)="onSeasonSelection($event)"
      name="season" id="season">
    </app-dropdown>
    
    </div>

  </div>
  <button
    type="submit"
    class="bg-teal-600 text-white py-2 px-4 rounded hover:bg-teal-700"
  >
    Submit
  </button>
</form>
