<div class="bg-teal-600 text-white p-4">
  <h1 class="text-2xl font-bold">Corner By The Bookshelf</h1>
</div>
<!-- Tabs -->
<nav class="flex justify-center space-x-4 bg-teal-100 p-2">
  <a
    [routerLink]="['home']"
    routerLinkActive="text-teal-600 font-semibold border-b-4 border-teal-600"
    class="py-2 px-4 hover:text-teal-600 transition"
  >
    Main
  </a>
  <a
    [routerLink]="['score']"
    routerLinkActive="text-teal-600 font-semibold border-b-4 border-teal-600"
    class="py-2 px-4 hover:text-teal-600 transition"
  >
    Score
  </a>
  <a
    [routerLink]="['settings']"
    routerLinkActive="text-teal-600 font-semibold border-b-4 border-teal-600"
    class="py-2 px-4 hover:text-teal-600 transition"
  >
    Settings
  </a>
  <a
    [routerLink]="['survey']"
    routerLinkActive="text-teal-600 font-semibold border-b-4 border-teal-600"
    class="py-2 px-4 hover:text-teal-600 transition"
  >
    Surveys
  </a>
</nav>

<router-outlet></router-outlet>
