<!-- Header Section -->

<!-- Top Bar -->
<header class="bg-white shadow-md py-4 px-6 flex items-center justify-between">
  <h1 class="text-2xl font-bold text-teal-800">Wars</h1>
  <button
    class="bg-teal-600 text-white px-4 py-1 rounded-lg shadow-md hover:bg-teal-700 transition duration-200 ease-in-out"
    (click)="openModal()"
  >
    <span class="material-icons">add</span> Create
  </button>
</header>
<aside class="bg-teal-100 rounded-lg flex-grow">
  <div class="p-6">
    <h1 class="text-2xl mb-5 font-bold text-teal-800">Active Wars</h1>
    <ul class="space-y-4">
      <app-league-entry *ngFor="let league of leagues" [league]="league"></app-league-entry>
    </ul>
  </div>
</aside>

<app-modal [isOpen]="isModalOpen" title="Create League" (close)="closeModal()">
  <app-create-league-form
    (createLeague)="handleLeagueCreation($event)"
  ></app-create-league-form>
</app-modal>
