<nav class="bg-teal-600 text-white shadow-lg">
      <div class="mx-3 flex justify-between items-center h-16">
          <!-- Logo Section -->
          <div class="flex items-center">
              <img src="../../../assets/whisker-wars-logo_title3.png" alt="Whisker Wars Logo" class="w-20 h-16 object-contain">
              <span class="font-bold text-lg md:text-2xl hidden">Whisker Wars</span>
          </div>

          <!-- User Section -->
          <ul class="flex items-center space-x-4">
              <li class="hover:cursor-pointer">
                  <a routerLink="/login" routerLinkActive="active" class="text-white-600 py-2 px-4 rounded-lg font-medium hover:text-gray-200 transition">Login</a>
              </li>          
              <li class="hover:cursor-pointer">
                  <a routerLink="/register" routerLinkActive="active" class="bg-teal-100 text-teal-600 py-2 px-4 rounded-lg font-medium hover:bg-yellow-300 transition">Sign Up</a>
              </li>       
          </ul>
  </div>
</nav>
