<div class="bg-white shadow-md rounded-lg p-6 mb-6 m-3 relative">
  <!-- Header Section -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-lg font-bold text-teal-600">Survey Overview</h2>

    <!-- Icons Section (Top Right) -->
    <div class="flex gap-4 text-gray-600">
      <span class="material-icons cursor-pointer hover:text-teal-600">add</span>
      <span class="material-icons cursor-pointer hover:text-teal-600"
        >sort</span
      >
      <span class="material-icons cursor-pointer hover:text-teal-600"
        >filter_list</span
      >
    </div>
  </div>

  <!-- Survey Table -->
  <table class="table-auto w-full border-separate border-spacing-0 rounded-lg">
    <thead>
      <tr class="bg-teal-600 text-white text-sm uppercase tracking-wider">
        <th class="py-3 px-6 text-left">Name</th>
        <th class="py-3 px-6 text-left">Survey Type</th>
        <th class="py-3 px-6 text-left">Status</th>
        <th class="py-3 px-6 text-left">Start Time</th>
        <th class="py-3 px-6 text-left">End Time</th>
        <th class="py-3 px-6 text-left">Question Number</th>
        <th class="py-3 px-6 text-left">Total Points</th>
        <th class="py-3 px-6 text-left">Points Earned</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let survey of surveys"
        class="hover:bg-gray-50 border-b border-gray-200 cursor-pointer"
        (click)="handleSurveyClick(survey.id!)"
      >
        <td class="py-4 px-6 text-sm">{{ survey.name }}</td>
        <td class="py-4 px-6 text-sm">{{ survey.type }}</td>
        <td class="py-4 px-6 text-sm">
          <span
            *ngIf="survey.status === 'OPEN'"
            class="inline-block py-1 px-3 text-xs font-semibold text-green-800 bg-green-200 rounded-full"
            >Open</span
          >
          <span
            *ngIf="survey.status === 'SCORED'"
            class="inline-block py-1 px-3 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full"
            >Scored</span
          >
          <span
            *ngIf="survey.status === 'PENDING'"
            class="inline-block py-1 px-3 text-xs font-semibold text-yellow-800 bg-yellow-200 rounded-full"
            >Pending</span
          >
          <span
            *ngIf="survey.status === 'CLOSED'"
            class="inline-block py-1 px-3 text-xs font-semibold text-red-800 bg-red-200 rounded-full"
            >Closed</span
          >
        </td>
        <td class="py-4 px-6 text-sm">
          {{ survey.startTime | date : "MM/dd/yyyy, h:mm a" }}
        </td>
        <td class="py-4 px-6 text-sm">
          {{ survey.endTime | date : "MM/dd/yyyy, h:mm a" }}
        </td>
        <td class="py-4 px-6 text-sm">{{ survey.questions!.length }}</td>
        <td class="py-4 px-6 text-sm">{{ survey.totalPoints }}</td>
        <td class="py-4 px-6 text-sm">
          {{ survey.status! === "SCORED" ? survey.pointsEarned : "-" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
