<div class="static lg:relative">
  <!-- Notification Icon -->
  <button class="p-2 relative" (click)="toggleNotificationList()">
    <span class="material-icons-outlined">notifications</span>

    <!-- Badge for Notifications -->
    <span 
      [ngClass]="{'hidden': notifications.length === 0}"
      class="absolute top-0 right-0 text-xs text-white bg-red-600 rounded-full w-4 h-4 flex items-center justify-center">
      {{ notifications.length }}
    </span>
  </button>

  <!-- Dropdown List of Notifications -->
  <app-notifications-dropdown *ngIf="isNotificationListVisible" [notifications]="notifications"></app-notifications-dropdown>

</div>
