<div
  *ngIf="isOpen"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md mx-5">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">{{ title }}</h2>
      <button class="text-gray-400 hover:text-gray-600" (click)="closeModal()">
        <span class="material-icons"> close </span>
      </button>
    </div>
    <div>
      <!-- Content Slot -->
      <ng-content></ng-content>
    </div>
  </div>
</div>
