<div class="inline-block text-left">
    <!-- Filter Button -->
    <div>
      <button
        (click)="toggleFilterDropdown()"
        type="button"
        class="group inline-flex justify-center text-sm font-medium text-gray-500 hover:text-gray-900 flex items-center"
        id="filter-notifications-menu-button"
        aria-expanded="false"
        aria-haspopup="true"
      >
      Filter
        <span class="material-icons text-sm">filter_alt</span>
      </button>
    </div>
  
    <!-- Dropdown Menu -->
    <div
      *ngIf="isFilterDropdownVisible"
      class="absolute z-10 mt-2 w-60 right-4 rounded-md bg-white shadow-2xl ring-1 ring-black/5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="filter-menu-button"
      tabindex="-1"
    >
      <div class="py-2 px-4">
        <h3 class="text-sm font-semibold text-gray-900">Filter By Type</h3>
        <div class="mt-2 space-y-2">
          <div *ngFor="let notificationType of availableNotificationTypes">
            <label class="inline-flex items-center">
              <input
                type="checkbox"
                class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out"
                [(ngModel)]="notificationType.checked"
                (change)="onFilterChange()"
              />
              <span class="ml-2 text-sm text-gray-700">{{ notificationType.label }}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  