.message {
  background-color: #5acf4a; /* Yellow background */
  border: 3px dashed #39a119; /* Slightly darker yellow dashed border */
  padding: 15px; /* Padding inside the box */
  border-radius: 10px; /* Rounded corners */
}